.container{
    margin: 20px;
}

.nome{
    font-size: 25pt;
}

.data{
    font-size: 20pt;
}

/*.listaProdutos p{
    padding: 20px;
    background-color: #62a9d1;
    color: antiquewhite;
    font-size: 15pt;
    
}*/

